// Main hero
.hero {
  display: flex;
  height: 700px;
  align-items: center;
  background: url('https://res.cloudinary.com/dbiyjyi0a/image/upload/v1529085813/vention-assets/hero-machine_builder.jpg')no-repeat left;
  background-size: cover;
  color: $text-white;

  .hero-title {
    margin: 0;
  }

  .hero-paragraph {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
  
  .hero-content {
    max-width: 500px;
  }

  .hero-input {
    max-width: 490px;
  }

  ::placeholder {
    color: $light-grey;
  } 
}