.btn {
  padding: .5rem 1.1rem; 
  border-radius: 5px;
  color: $text-white;
  display: inline-block;
  white-space: nowrap;
  font-size: 1rem;
  &:hover {
    cursor: pointer;
  }
}

.btn-green {
  background-color: $green;
  border: none;
  &:hover {
    background-color: $green-hover;
  }
}

.btn-white-outline {
  border: $white solid 2px;
  background: transparent;
}