// Colors
$light-grey: #c5c5c5;
$white: #fff;
$green: #27b02b;
$green-hover: #1d8621;
$light-blue: #f1f4f8;
$dark-blue: #1d5375;
$dark-blue-hover: #112e41;

// Text colours
$text-white: #fff;
$text-dark-blue: #2d3a4d;